.noteCard {
    background-color: #a8bfd3;
    color: 	#36454f;
}

.cardText {
    white-space: pre-line;
}

.cardBody {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(180deg, #36454f 75%, transparent);
    mask-image: linear-gradient(180deg, #36454f 75%, transparent);
}